<ion-tabs class="animate__animated animate__fadeInUp">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
<!--       <object type="image/svg+xml" data="assets/images/main_home.svg"></object>-->
      <ion-icon src="assets/images/main_home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon src="assets/images/main_payment.svg"></ion-icon>
      <!-- <object type="image/svg+xml" data="assets/images/main_payment.svg"></object> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/images/main_user.svg"></ion-icon>
      <!-- <object type="image/svg+xml" data="assets/images/main_user.svg"></object> -->
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon src="assets/images/main_card.svg"></ion-icon>
      <!-- <object type="image/svg+xml" data="assets/images/main_card.svg"></object> -->
    </ion-tab-button>

    <ion-tab-button tab="more">
      <!-- <object type="image/svg+xml" data="assets/images/main_more.svg"></object> -->
      <ion-icon src="assets/images/main_more.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
